http://localhost:3000 {

	# Reverse proxy for specific path prefixes
	handle_path /api/* {
		reverse_proxy localhost:3001
	}

	# Serve static files
	handle {
		root * /app/code/client/dist
		file_server
	}
}
